@import 'bootstrap/dist/css/bootstrap.min.css';


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Verdana, Tahoma, sans-serif;
}


.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/*----------------- navbar css------------------ */

* {
  font-family: cursive;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dropdown-toggle::after {
  display: none;
}

.navbar-toggler-icon {
  background-size: 70%;
}

.navbar-toggler {
  padding: 0 0;
  border: 0;
}

.dropdown-menu[data-bs-popper] {
  --bs-dropdown-border-color: none;
  --bs-dropdown-padding-y: 0;
  --bs-dropdown-border-radius: 0;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: none;
  --bs-dropdown-item-padding-x: 0;
  --bs-dropdown-link-hover-bg: white;
}

.dropdown:hover {
  display: block !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.drop:first-child:hover span svg.arrow {
  transform: rotate(-180deg);
  transition: transform 400ms ease-out;
}

.dropdown-menu {
  animation: slidedown 400ms ease-in-out forwards;
}

.navbar-expand-xl .navbar-nav .dropdown-menu {
  margin-top: 12px;
}

@keyframes slidedown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*-------------------- Slider ---------------- */

#app {
  height: 100%;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100vw;
  height: 60vh;
  object-fit: cover;
}

/*-------------------- Product Photo Hover ---------------- */

/* .image-container {
  background-image: url('assets/orange-1.jpg');
  background-size: cover;
  width: 320px;
  height: 200px;
}

.image-container:hover {
  background-image: url('assets/white-1.jpg');
} */

.image-container {
  position: relative;
  width: 320px;
  height: 60vh;
}

.image1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  border-radius: 10px;
}

.image2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  border-radius: 10px;
}

.image-container:hover .image1 {
  opacity: 0;
}

.image-container:hover .image2 {
  opacity: 1;
}